.main {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
}

.focus {
    width: 721px;
    height: 455px;
    background-color: purple;
}

.newsflash {
    width: 250px;
    height: 455px;
}

.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}

.news-hd {
    height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    line-height: 33px;
    padding: 0 15px;
}

.news-hd h5 {
    font-size: 14px;
    font-weight: 400;
}

.news-hd .more::after {
    font-family: 'icomoon';
    content: '\e920';
    margin-left: 8px;
}

.news-bd {
    padding: 5px 15px 0;
}

.news-bd ul li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lifeservice {
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0;
    overflow: hidden;
}

.lifeservice ul {
    width: 252px;
}

.lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}


/* .lifeservice模块图标添加 */

.lifeservice ul li i {
    display: inline-block;
    width: 26px;
    height: 24px;
    background-color: pink;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -17px -16px;
}

.lifeservice ul li:nth-child(2) i {
    background: url(../images/icons.png) no-repeat -80px -16px;
}

.lifeservice ul li:nth-child(2) {
    position: relative;
}

.lifeservice ul li:nth-child(2) em {
    position: absolute;
    top: -3px;
    right: -1px;
}

.lifeservice ul li:nth-child(3) i {
    background: url(../images/icons.png) no-repeat -142px -17px;
}

.lifeservice ul li:nth-child(4) i {
    background: url(../images/icons.png) no-repeat -205px -14px;
}

.lifeservice ul li:nth-child(5) i {
    background: url(../images/icons.png) no-repeat -17px -88px;
}

.lifeservice ul li:nth-child(6) i {
    background: url(../images/icons.png) no-repeat -78px -88px;
}

.lifeservice ul li:nth-child(7) i {
    background: url(../images/icons.png) no-repeat -141px -88px;
}

.lifeservice ul li:nth-child(8) i {
    background: url(../images/icons.png) no-repeat -203px -88px;
}

.lifeservice ul li:nth-child(9) i {
    background: url(../images/icons.png) no-repeat -17px -159px;
}

.lifeservice ul li:nth-child(10) i {
    background: url(../images/icons.png) no-repeat -78px -159px;
}

.lifeservice ul li:nth-child(11) i {
    background: url(../images/icons.png) no-repeat -141px -15px;
}

.lifeservice ul li:nth-child(12) i {
    background: url(../images/icons.png) no-repeat -203px -159px;
}


/* .lifeservice模块图标添加 */

.bargain {
    margin-top: 5px;
}


/* 推荐模块 */

.recom {
    height: 163px;
    margin-top: 11px;
    background-color: #ebebeb;
}

.recom_hd {
    width: 206px;
    height: 100%;
    background: url(../images/recom.png) no-repeat;
}

.recom_bd ul li {
    float: left;
    position: relative;
}

.recom_bd ul li img {
    width: 247px;
    height: 163px;
}

.recom_bd ul li:nth-child(-n+3)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 143px;
    background-color: #ddd;
}


/* 家用电器模块 */

.box_hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}

.box_hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: 400;
}

.tab_list {
    line-height: 30px;
}

.tab_list ul li {
    float: left;
}

.tab_list ul li a {
    margin: 0 15px;
}

.floor .w {
    margin-top: 30px;
}

.box_bd {
    height: 360px;
}

.tab_list_item>div {
    float: left;
    height: 360px;
    overflow: hidden;
}

.col_210 {
    width: 210px;
    background-color: #f9f9f9;
}

.col_210 ul {
    margin-left: 7px;
}

.col_210 ul li {
    float: left;
    margin: 0 6px;
    width: 86px;
    height: 33px;
    border-bottom: 1px solid #ededed;
    text-align: center;
    line-height: 33px;
}

.col_329 {
    width: 329px;
}

.col_221 {
    width: 221px;
    border-right: 1px solid #ccc;
}

.col_221 img {
    width: 221px;
}

.col_219 {
    width: 219px;
}

.bb {
    /* 一般情况下，a如果包含有宽度的盒子，需要转化为块级元素 */
    display: block;
    border-bottom: 1px solid #ccc;
}